#agmm {
    .title{
        color:rgb(240, 240, 240);
    }
    footer {
        color: white;
        text-align: center;
        background-color: rgba($grey-dark, 0.75);
        a{
            color: inherit;
        }
    }
    background: url("/images/bg-grass.jpg") repeat fixed;
}

#home{
    .image{
        float: left;
    }
    background: url("/images/bg-agmm.jpg") center/cover;
}

#Frappe{
    .hero-body{
        justify-content: center;
        padding: 0;
    }
    .columns{
        flex-grow: 1;
    }
    background: url("/images/bg-frappe.jpg") center/cover;
}

#CoursDeGroupe{
    background: url("/images/bg-cours-de-groupe.jpg") center/cover;
}

#CoursPrives{
    background: url("/images/bg-cours-prives.jpg") center/cover;
}

#CliniqueApproche{
   .content{
        color: white;
        background-color: transparent;
        flex-grow: 2;
    }
    background: url("/images/bg-clinique-approche.jpg") center/cover;
}