#agmm {

    footer {
        color: white;
        text-align: center;
        background-color: rgba($grey-dark, 0.75);
        a{
            color: inherit;
        }
    }
    background: url("/images/grass.jpg") repeat fixed;
}

#home{
    .image{
        float: left;
    }
    .title{
        color:white;
    }
    background: url("/images/bg-agmm.jpg") center/cover;
}

#frappe-libre{
    background: url("/images/bg-frappe-libre.jpg") center/cover;
}

#frappe-supervisee{
    background: url("/images/bg-frappe-supervisee.jpg") center/cover;
}

#cours-de-groupe{
    background: url("/images/bg-cours-de-groupe.jpg") center/cover;
}

#cours-prives{
    background: url("/images/bg-cours-prives.jpg") center/cover;
}

#cours-juniors{
    background: url("/images/bg-cours-juniors.jpg") center/cover;
}

#about{
    background: url("/images/bg-about.jpg") center/cover;
}