#agmm {
    .title{
        color:rgb(240, 240, 240);
    }
    footer {
        color: white;
        text-align: center;
        background-color: rgba($grey-dark, 0.75);
        a{
            color: inherit;
        }
    }
    background: url("/images/bg-grass.jpg") repeat fixed;
}

#home{
    .image{
        float: left;
    }
    background: url("/images/bg-agmm.jpg") center/cover;
}

#FrappeLibre{
    background: url("/images/bg-frappe-libre.jpg") center/cover;
}

#FrappeSupervisee{
    background: url("/images/bg-frappe-supervisee.jpg") center/cover;
}

#CoursDeGroupe{
    background: url("/images/bg-cours-de-groupe.jpg") center/cover;
}

#CoursPrives{
    background: url("/images/bg-cours-prives.jpg") center/cover;
}

#Fitting{
    background-color: white;
}