// Bulma customization
.navbar-burger span {
    height: 2px;
}

.card{
    width: fit-content;
    height: fit-content;
}

// My styles

.img-with-label{
    p{
        margin: 0 !important;
    }
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.content{
    background-color: $content-background;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: fit-content;
}
.content.expanded{
    width: 100%;
}

.anchor{
    display: block;
    position: relative;
    top: -$navbar-height;
    visibility: hidden;
}

.centered{
    margin: 0 auto;
    width: fit-content;
}


.fit-in-viewport-with-navbar{
    max-height: calc(100vh - #{$navbar-height});
}