// Bulma customization
.hero{
    justify-content: space-evenly;
}
.navbar-burger span {
    height: 2px;
}

//.navbar-dropdown.is-dark, .navbar-dropdown.is-dark > a,
 .navbar-menu.is-dark, .navbar-menu.is-dark > div > a {
    background-color: $dark;
    color: $dark-invert;
    .has-dropdown, .has-dropdown *{
        background-color: $dark;
        color: $dark-invert;
    }
}

.flex-columns{
    @extend .columns;
    .column{
        display: flex;
        flex-direction: column;
    }
}

.hero-head{
    display: flex;
}

// My styles

.spaced{
    margin: $gap/8 !important;
    @media screen and (min-width: $tablet){     
        margin: $gap/2 !important;
    }
}

.img-with-label{
    p{
        margin: 0 !important;
    }
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.title, .subtitle{
    text-align: center;
}
.content{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: fit-content;
    max-width: 100%;
    &.expanded{
        width: 100%;
        height: 100%;
    }
    .body{
        flex-grow: 1;
    }
}

.anchor{
    display: block;
    position: relative;
    top: -$navbar-height;
    visibility: hidden;
}

.centered{
    margin: 0 auto;
    width: fit-content;
}