.navbar-burger span {
    height: 2px;
}

.content{
        background-color: $content-background;
        padding: 0.5rem;
        border-radius: 0.5rem;
}

.anchor{
    display: block;
    position: relative;
    top: -$navbar-height;
    visibility: hidden;
}

.centered{
    margin: auto;
    position: relative;

}
