#golf-virtuel {
    //dark
    .title{
       color: $light;
    }
    .content{
        background-color: $dark-grey-transparent;
        color: $light;
    }


    background: url("/images/bg-agmm.jpg") repeat fixed;  
}

#golf-virtuel-home{

}

#heures-ouverture{
    .hero-body{
        padding-left: 0;
        padding-right: 0;
    }
    .column{
        justify-content: space-around;
    }
    table {
        border: solid;
    }
    table, table *{ 
        background-color: $dark;
        color: $dark-invert;
        text-align: center;
        border-color: $green;
    }
}

#services{
    img{
        margin: auto;
    }
}

#contact-golf-virtuel {
    color: white;
    .content{
        background-color: transparent;
        text-align: center;
    }
    a{
        color: inherit;
    }
    background-color: rgba($grey-dark, 0.75);
}