
#golf-virtuel {
    //dark
    .title, .subtitle{
       color: $light;
    }
    .content{
        background-color: $dark-grey-transparent;
        color: $light;
    }


    background: linear-gradient(rgba(30,30,30, 0.8),rgba(30,30,30, 0.8)), url("/images/bg-agmm.jpg") repeat;  
}

#golf-virtuel-home{
    background: url("/images/bg-golf-virtuel-home.jpg") center/cover;
}

#heures-ouverture{
    .hero-body{
        padding-left: 0;
        padding-right: 0;
    }
    .column{
        justify-content: space-around;
    }
    table, table *{ 
        color: $dark-invert;
        text-align: center;
        border-color: $green;
    }
}

#simulateurs{
    .hero-body{
        padding-left: 0;
        padding-right: 0;
    }
    .column{
        justify-content: center;
    }
    background: url("/images/bg-simulateurs.jpg") center/cover fixed;
}

#tarifs{
    .hero-body{
        padding-left: 0;
        padding-right: 0;
    }
    .column{
        justify-content: space-around;
    }
    table, table *{
        color: $dark-invert;
        text-align: center;
        border-color: $green;
    }
    @media screen and (max-width:400px) {
        .column{
            overflow: auto;
        }
    }
    background: url("/images/bg-tarifs.jpg") center/cover;
}

#ligues{
    background: linear-gradient(rgba(20,20,20,0.6),rgba(20,20,20,0.5),rgba(20,20,20,0.35),rgba(20,20,20,0.35),rgba(20,20,20,0.5),rgba(20,20,20,0.6)),
     url("/images/bg-ligues.jpg") center/cover;
    color: $light;
    .content{
        background: unset;
    }
}

#services{
    div.service{
        padding: $gap/2 0;
    }
    h1{
        margin-top: $gap;
    }
    img{
        margin: auto;
    }
}

#contact-golf-virtuel {
    color: white;
    .content{
        background-color: transparent;
        text-align: center;
    }
    a{
        color: inherit;
    }
    background: unset;
}