$green: rgba(69,89,36,1);

$yellow-transparent: rgba(255, 221, 0, 0.9);
$grey-transparent: rgba(240, 240, 240, 0.9);
$dark-grey-transparent: rgba(50, 50, 50, 0.9);


//BULMA
$link: rgb(75, 173, 50);
$link-hover: rgb(60, 139, 40);