$green: rgb(60, 139, 40);

$yellow-transparent: rgba(255, 221, 0, 0.8);
$grey-transparent: rgba(240, 240, 240, 0.9);
$dark-grey-transparent: rgba(50, 50, 50, 0.9);


//BULMA
$link: $green;
$link-hover: rgb(50, 116, 34);