<a id="clinique-approche" class="anchor"></a>
<section id="clinique-approche" class="hero is-fullheight-with-navbar section">
    <div class="hero-body container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-1">Clinique Approche</h1>
            </div>
            <div class="column is-size-4 content">
                <p class="is-size-3">Apprenez à faire tout les coups de 70 verges et moins&nbsp;:</p>
                <ul>
                    <li>Approche roulée</li>
                    <li>Approche de 20 à 70 verges</li>
                    <li>Lob</li>
                    <li>Fausse de sable</li>
                </ul>
                <p>Formation de 2h : 60$</p>
                <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRsV75HjZ9xnAF6Q6xXTz94aKN29rfcr_jTojN2L3y2WwM6JZXmdQOW4l9OjaCeLcIVwfk1bUGZk3HP/pubhtml?gid=0&amp;single=true&amp;chrome=false&amp;headers=false"></iframe>
            </div>
        </div>
    </div>
</section>