<a id="contact" class="anchor"></a>
<footer id="contact-agmm" class="section footer">
    <div class="container">
        <img alt="logo agmm" class="image is-128x128 centered" src="/images/logo-agmm-balle.png">
        <br>
        <div class="columns is-size-5 is-multiline is-centered">
            <div class="column is-full">
                <p><a href="tel:+18193735121">(819) 373-5121</a> poste 6518</p>
                <p><a href="mailto:golfagmm@gmail.com"><u>golfagmm@gmail.com</u></a></p>
            </div>
            <div class="column is-one-third">
                <p class="is-size-5"><b>CSAD</b> (Hiver)</p>
                <a target="_blank" href="https://goo.gl/maps/iYdcBFzi6E8MCMdr8">260 Rue Dessureault, Trois-Rivières, QC G8T 9T9</a>
            </div>
            <div class="column is-one-third">
                <p class="is-size-5"><b>Golf Du Moulin</b> (Été)</p>
                <a target="_blank" href="https://goo.gl/maps/59Ur7tdom9z3Pmjc9">841 Chemin des Pins, Trois-Rivières, QC
                    G8W 2K1</a></p>
            </div>
        </div>
    </div>
</footer>