<a id="cours-prives" class="anchor"></a>
<section id="cours-prives" class="hero is-fullheight-with-navbar section">
    <div class="hero-body container">
        <h1 class="title is-1">Cours Privés</h1>
    </div>
    <div class="hero-foot container">
        <div class="content">
            <p>L'enseignement du golf a grandement évolué avec les nouvelles technologies. Ayez des feedbacks très important pour la compréhension et la correction de votre élan avec le tapis de pression Boditrak, le système d'analyse video V1, le populaire appareil de détection de la balle Foresight et ... mon 30 ans d'expérience.</p>
            <div class="columns is-multiline is-mobile">
                <div class="column is-half-mobile">
                    <div class="img-with-label">
                        <p>Skypro: Analyse du baton</p>
                        <img src="/images/img-skypro.jpg" alt="skypro">
                    </div>
                </div>
                <div class="column is-half-mobile">
                    <div class="img-with-label">
                        <p>Foresight: Analyse de la balle</p>
                        <img src="/images/img-foresight.jpg">
                    </div>
                </div>
                <div class="column is-half-mobile">
                    <div class="img-with-label">
                        <p>V1: Analyse vidéo</p>
                        <img src="/images/img-v1.jpg">
                    </div>
                </div>
                <div class="column is-half-mobile">
                    <div class="img-with-label">
                        <p>Boditrak: Transfert de poids</p>
                        <img src="/images/img-bodytrack.jpg">
                    </div>
                </div>
            </div>
                <p class="centered">
                    Hiver comme été, cours privés disponibles sur demande et selon vos besoins. 3 leçons (2 x 45 min et 1 x 30 min): 160$</p>
                <p class="has-text-centered"><a href="#contact">Contact</a></p>
        </div>
    </div>
</section>