<a id="contact" class="anchor"></a>
<footer class="section footer">
    <div class="container">
        <img class="image is-128x128 centered" src="/images/logo-agmm-balle.png">
        <br>
            <p><a href="tel:+18193780988"><b>(819) 378-0988</b></a></p>
            <p>Hiver: <a target="_blank" href="https://goo.gl/maps/iYdcBFzi6E8MCMdr8">260 Rue Dessureault, Trois-Rivières, QC G8T 9T9</a></p>
            <p>Été: <a target="_blank" href="https://goo.gl/maps/59Ur7tdom9z3Pmjc9">841 Chemin des Pins, Trois-Rivières, QC G8W 2K1</a></p>
        <br>
    </div>
</footer>