<a id="frappe" class="anchor"></a>
<section id="frappe" class="hero is-fullheight-with-navbar section">
    <div class="hero-body container">
        <div class="flex-columns is-size-5">
            <div class="column">
                <h2 class="title is-2 has-text-centered">Frappe Libre</h2>
                <div class="content expanded">
                    Forfaits disponibles:
                    <ul>
                        <li>1 heure de frappe libre par semaine</li>
                        <li>Frappe libre illimitée</li>
                        <li>Heures par heures</li>
                    </ul>
                    <p class="body">
                        Sur une distance de 100 pieds
                        Économisez avec une <a href="#carte-vip">carte VIP</a>.
                    </p>
                    <p class="has-text-centered">
                        <a target="_blank"
                            href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSIBf3Uq_3LKQVT0smc3JqVW9w1BNr0ghT9_Jjs_Vw86E8U3V9dHzVch4UpHB-KvSO8cQ-v_wS1kgKG/pubhtml?gid=1719629945&single=true">Tarifs</a>
                        |
                        <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSFPH6yLwYqmLpx9ua1yu4XYJyLGTVb3ka00ykDo1gyj10TodSANPT_WFo3uJkNcnCHwYDcAUd4uG2b/pubhtml?gid=1199770214&single=true"
                            target="_blank">Horaire frappe libre</a>
                    </p>
                </div>
            </div>
            <div class="column">
                <h2 class="title is-2 has-text-centered">Frappe Supervisée</h2>
                <div class="content expanded">
                    Forfaits disponibles:
                    <ul>
                        <li>1 heure de frappe supervisée par semaine</li>
                        <li>Frappe supervisée + frappe libre illimitée</li>
                    </ul>
                    <p class="body">
                        Sur une distance de 100 pieds
                        Économisez avec une <a href="#carte-vip">carte VIP</a>.
                    </p>
                    <p class="has-text-centered">
                        <a target="_blank"
                            href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSIBf3Uq_3LKQVT0smc3JqVW9w1BNr0ghT9_Jjs_Vw86E8U3V9dHzVch4UpHB-KvSO8cQ-v_wS1kgKG/pubhtml?gid=1719629945&single=true">Tarifs</a>
                        |
                        <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSFPH6yLwYqmLpx9ua1yu4XYJyLGTVb3ka00ykDo1gyj10TodSANPT_WFo3uJkNcnCHwYDcAUd4uG2b/pubhtml?gid=1006885490&single=true"
                            target="_blank">Horaire frappe supervisée</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>