<a id="FrappeSupervisee" class="anchor"></a>
<section id="FrappeSupervisee" class="hero is-fullheight-with-navbar section">
    <div class="hero-body container">
        <h1 class="title is-1">Frappe Supervisée</h1>
    </div>
    <div class="hero-foot container">
        <div class="content">
            <p class="is-size-4">
                1 heure de frappe supervisée/semaine : 299.00$ + taxes.
                <br>
                Session de 12 semaines. À PARTIR DU 6 JANVIER 2019.
                <br>
                *Avec carte V.I.P.60, vous économisez 30$.
                <br>
                *Avec carte V.I.P.250, vous économisez 60$.
            </p>
        </div>
    </div>
</section>