<section class="section">
    <div class="container">
POSSIBILITÉS D'INSCRIPTION

175$: FRAPPE LIBRE ILLIMITÉ (16h/semaine de disponibilité)

SPÉCIAL JUNIOR: 60$ ILLIMITÉ

 

8 novembre au 11 avril 2019


Sans carte VIP: réservation à la pièce 24 heures d'avance, 15$/heure

 

Avec carte V.I.P.60, vous économisez

-25$ pour réserver 1 tapis: 1heure/semaine

-5$ sur le tarif horaire avec droit de réservation de 7 jrs.

+ autres rabais pour tous les autres services.

 

Avec carte V.I.P.250, vous économisez

-50$ pour réserver 1 tapis: 1heure/semaine

-10$ sur le tarif horaire avec droit de réservation de 7 jrs.

+ autres rabais pour tous les autres services.
</div>
</section>