<a id="frappe-libre" class="anchor"></a>
<section id="frappe-libre" class="hero is-fullheight-with-navbar section">
    <div class="hero-body container">
        <h1 class="title is-1">Frappe Libre</h1>
    </div>
    <div class="container content">
        <ul>
            <li>
                POSSIBILITÉS D'INSCRIPTION <br>
                175$: FRAPPE LIBRE ILLIMITÉ (16h/semaine de disponibilité)<br>
                SPÉCIAL JUNIOR: 60$ ILLIMITÉ<br>
            </li>
            
            <li>
                8 novembre au 11 avril 2019<br>
                Sans carte VIP: réservation à la pièce 24 heures d'avance, 15$/heure<br>
                Avec carte V.I.P.60, vous économisez<br>
                -25$ pour réserver 1 tapis: 1heure/semaine<br>
                -1$ sur le tarif horaire avec droit de réservation de 7 jrs.<br>
                + autres rabais pour tous les autres services.<br>
            </li>
            
            <li>
                Avec carte V.I.P.250, vous économisez<br>
                -50$ pour réserver 1 tapis: 1heure/semaine<br>
                -10$ sur le tarif horaire avec droit de réservation de 7 jrs.<br>
                + autres rabais pour tous les autres services.<br>
            </li>
        </ul>
    </div>
</section>