<section id="agmm-home" class="section hero is-fullheight-with-navbar">
    <div class="hero-body container">
        <h1 class="title is-1">Académie de Golf Michel Martin</h1>
    </div>
    <div class="hero-foot container">
        <div class="content is-size-4">
            <p>L’académie de golf Michel Martin vous enseigne depuis plus de 32 ans ! Sur la surface synthétique du complexe Alphonse-Desjardins, vous pourrez vous exercez sur une distance de plus de 30 verges (125 pieds). Différentes options s’offre à vous que ce soit des cours en privé ou en groupe nous avons la bonne formule pour vous. Des heures de pratique libre sont aussi offertes.</p>
        </div>
    </div>
</section>