<section id="home" class="slideshow-bg section hero is-fullheight-with-navbar">
    <div class="hero-body container">
        <p class="title is-1">Académie de Golf Michel Martin</p>
    </div>
    <div class="hero-foot container">
        <div class="content">
            <figure class="image is-128x128">
                <img src="/images/michel-martin.jpg" width="100%">
            </figure>
            <p>King's Highway 420 is a 400-series highway in the Canadian province of Ontario that connects the Queen Elizabeth Way (QEW) with downtown Niagara Falls. The roadway continues east as the limited-access expressway Niagara Regional Road 420, which was transferred to the jurisdiction of the Regional Municipality of Niagara in 1998; it connects with the Rainbow Bridge at the border with the United States over the Niagara River. King's Highway 420 has a speed limit of 80 kilometres per hour (50 mph), making it the only 400-series highway to have a speed limit less than 100 kilometres per hour (62 mph) for its entirety. Originally constructed as a divided four-lane road with two traffic circles, the route of Highway 420 formed part of the QEW between 1941 and 1972. It was assigned a unique route number during its reconstruction as a freeway and the construction of the large interchange at its western terminus at Montrose Road.</p>
        </div>
    </div>
</section>