<nav class="navbar is-light is-fixed-top">
    <div class="navbar-brand">
        <a href="/agmm" class="navbar-item">
            <img src="/images/logo-agmm.png" alt="AGMM logo"></img>
        </a>
        <a class="navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="#frappe">Frappe Libre / Supervisée</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#cours-de-groupe">Cours</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="#cours-de-groupe">Groupe</a>
                    <a class="navbar-item" href="#cours-prives">Privé</a>
                </div>
            </div>
            <a class="navbar-item" href="#clinique-approche">Clinique Approche</a>
            <a class="navbar-item" href="#carte-vip">Carte VIP</a>
            <a class="navbar-item" href="#fitting">Fitting</a>
            <a class="navbar-item" href="#contact">Contact</a>
        </div>
        <div class="navbar-end">
            <div class="buttons navbar-item">
                <a class="button is-dark" href="/golf-virtuel">GOLF VIRTUEL</a>
                <a class="button is-light" href="http://www.prosim.ca"><img src="/images/logo-prosim.png"></img></a>
            </div>
        </div>
    </div>
</nav>