<a id="contact" class="anchor"></a>
<footer id="contact-golf-virtuel" class="section footer">
    <div class="container">
        <img alt="logo golf virtuel agmm" class="image is-128x128 centered" src="/images/logo-golf-virtuel-balle.png">
        <br>
        <div class="content centered">
            <p class="is-size-5"><b>CSAD</b></p>
            <p><a href="tel:+18193735121">(819) 373-5121</a> poste 6518</p>
            <p><a href="mailto:golfagmm@gmail.com"><u>golfagmm@gmail.com</u></a></p>
            <a target="_blank" href="https://goo.gl/maps/iYdcBFzi6E8MCMdr8">260 Rue Dessureault, Trois-Rivières, QC G8T 9T9</a>
        </div>
    </div>
</footer>