<a class="anchor" id="heures-ouverture"></a>
<section id="heures-ouverture" class="section hero is-fullheight-with-navbar">
    <h1 class="title is-1">Heures d'ouverture</h1>
    <div class="container">
        <div class="content expanded">
            <div class="flex-columns">
                <div class="column spaced">
                    <table class="is-size-5-desktop">
                        <thead><tr><th colspan="2">Novembre à avril</th></tr></thead>
                        <tr><th>Lundi</th>   <td>9h00 à 22h00</td></tr>
                        <tr><th>Mardi</th>   <td>9h00 à 22h00</td></tr>
                        <tr><th>Mercredi</th><td>9h00 à 22h00</td></tr>
                        <tr><th>Jeudi</th>   <td>9h00 à 22h00</td></tr>
                        <tr><th>Vendredi</th><td>9h00 à 22h00</td></tr>
                        <tr><th>Samedi</th>  <td>8h30 à fin des réservations</td></tr>
                        <tr><th>Dimanche</th><td>8h30 à fin des réservations</td></tr>
                    </table>
                </div>
                <div class="column spaced">
                    <div class="is-size-4">
                        <p>Appelez au (819) 373 5121 poste 6518 pour réserver un départ jusqu'à 7 jours d'avance.</p>
                        <p>Vous pouvez appeler en tout temps pour une réservation de groupe.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>