<a class="anchor" id="heures-ouverture"></a>
<section id="heures-ouverture" class="section hero is-fullheight-with-navbar">
    <h1 class="title is-1">Heures d'ouverture</h1>
    <div class="container">
        <div class="content expanded">
            <div class="flex-columns">
                <div class="column spaced">
                    <table>
                        <thead><tr><th colspan="2">Novembre à avril</th></tr></thead>
                        <tr><td>Lundi</td>   <td>9h00 à 22h00</td></tr>
                        <tr><td>Mardi</td>   <td>9h00 à 22h00</td></tr>
                        <tr><td>Mercredi</td><td>9h00 à 22h00</td></tr>
                        <tr><td>Jeudi</td>   <td>9h00 à 22h00</td></tr>
                        <tr><td>Vendredi</td><td>9h00 à 22h00</td></tr>
                        <tr><td>Samedi</td>  <td>8h30 à fin des réservations</td></tr>
                        <tr><td>Dimanche</td><td>8h30 à fin des réservations</td></tr>
                    </table>
                </div>
                <div class="column spaced">
                    <div class="is-size-4">
                        <p>Appelez au (819) 373 5121 poste 6518 pour réserver un départ jusqu'à 7 jours d'avance.</p>
                        <p>Vous pouvez appeler en tout temps pour une réservation de groupe.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>