<section id="golf-virtuel-home" class="section hero is-fullheight-with-navbar">
    <h1 class="title is-1">Golf Virtuel</h1>
    <div class="container">
        <div class="content">
            <p class="is-size-4">Le golf Virtuel AGMM est la référence en Mauricie depuis plus de 12 ans. Nos 6 simulateurs PROSIM saurons vous faire voyager sur les plus beaux parcours de golf dans le monde. En plus d’être conçu entièrement au Québec, les simulateurs ProSim sont équipés du tout nouveau logiciel de jeu E6 CONNECT pour encore plus de réalisme dans votre jeu.</p>
        </div>
    </div>
</section>