<a class="anchor" id="ligues"></a>
<section id="ligues" class="section hero is-fullheight-with-navbar">
        <div>
            <h2 class="title is-1">LIGUES</h2>
            <h3 class="subtitle is-3">
                De jour et de soir<br>
                Hommes et femmes
            </h3>
        </div>
        <div class="container content has-text-centered is-size-4">
            <p>Jouez une fois par semaine dans une de nos nombreuses ligues et payez seulement 22$ pour la partie.</p>
            <p>Inscrivez vous!<br>
                Renseignements/infos:<br>
                Allen Quigley <a href="tel:+18196991597">(819)&nbsp;699-1597</a>
            </p>
        </div>
</section>
<span class="border"></span>