<nav class="navbar is-dark is-fixed-top">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img src="/images/logo-golf-virtuel.png" alt="logo golf-virtuel"></img>
        </a>
        <a class="navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div id="navMenu" class="navbar-menu is-dark">
        <div class="navbar-start">
            <a class="navbar-item" href="#heures-ouverture">Heures d'ouverture</a>
            <a class="navbar-item" href="#simulateurs">Simulateurs</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#services">Services</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="#locker">Entreposage de bâtons</a>
                    <a class="navbar-item" href="#bar">Bar et restauration</a>
                    <a class="navbar-item" href="#party">Party</a>
                </div>
            </div>
            <a class="navbar-item" href="#ligues">Ligues</a>
            <a class="navbar-item" href="#tarifs">Tarifs</a>
            <a class="navbar-item" href="#carte-vip">Carte VIP</a>
            <a class="navbar-item" href="#contact">Contact</a>
        </div>
        <div class="navbar-end">
            <div class="buttons navbar-item">
                <a class="button is-light" href="/agmm">AGMM</a>
                <a class="button is-light" href="http://www.prosim.ca"><img src="/images/logo-prosim.png"></img></a>
            </div>
        </div>
    </div>
</nav>