<a class="anchor" id="services"></a>
<section id="services" class="section">
    <div class="container">
        <h2 class="title is-1">Services</h2>
        <a class="anchor" id="locker"></a>
        <div class="service" id="locker">
            <div class="content expanded">
                <h2 class="title is-2 spaced">Entreposage de bâtons</h2>
                <div class="flex-columns spaced">
                    <div class="column is-size-4 is-size-5-mobile">
                        <p>Évitez de promener vos bâtons tout l'hiver à un coût plus qu'abordable.</p>
                        <p>Un service d'entreposage sécuritaire est disponible à même les locaux du golf virtuel.</p>
                        <p>78.25$ + taxes (case pour 2 personnes)</p>
                        <p>65$ + taxes (case pour une personne)</p>
                    </div>
                    <div class="column">
                        <img src="/images/img-locker.jpg" alt="Casiers">
                    </div>
                </div>
            </div>
        </div>

        <a class="anchor" id="bar"></a>
        <div class="service" id="bar">
            <div class="content expanded">
                <h2 class="title is-2 spaced">Bar et restauration</h2>
                <div class="flex-columns spaced">
                    <div class="column is-size-4 is-size-5-mobile">
                        <p>Un service de bar et de restauration est disponible sur place.</p>
                        <p>Service de traiteur aussi disponible pour vos partys et occasions
                            d'affaires.</p>
                    </div>
                    <div class="column">
                        <img src="/images/img-bar.jpg" alt="Bar et restauration">
                    </div>
                </div>
            </div>
        </div>

        <a class="anchor" id="party"></a>
        <div class="service" id="party">
            <div class="content expanded">
                <h2 class="title is-2 spaced">Party</h2>
                <div class="flex-columns spaced">
                    <div class="column is-two-thirds is-size-5">
                        <p>Le Golf virtuel AGMM est apprécié pour son aspect convivial.</p>
                        <p>L’entreprise dispose en effet d’un salon, d’un bar et de plusieurs écrans de télévision axés
                            sur les événements sportifs.</p>
                        <p>Pour les réservations de groupe, il est possible de procurer une touche festive à l’événement
                            en y ajoutant un service de traiteur et des jeux vidéo. (Effets saisissants
                            garantis sur grands écrans)</p>
                        <p>Nous pouvons acceuillir un groupe d'au delà de 50 personnes.</p>
                    </div>
                    <div class="column">
                        <img src="/images/img-lounge.jpg" alt="Lounge">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>