<span class="border"></span>
<a class="anchor" id="simulateurs"></a>
<section id="simulateurs" class="section hero is-fullheight-with-navbar">
    <div>
        <h2 class="title spaced is-2">Simulateurs</h2>
    </div>
    <div class="container is-size-5 content has-text-centered">
        <p class="spaced">
            Les simulateurs ProSim sont munis de 2 caméras RedCam cadencées à 2000 images/seconde. Grâce à la lecture de
            la balle à 2 endroits dans l'espace avec la meilleure caméra sur le marché, les résultats sont des plus
            précis.
        </p>
        <div class="flex-columns spaced">
            <div class="column centered">
                <h3 class="title">
                    Logiciel
                </h3>
                <p>
                    Nos simulateurs utilisent le logiciel E6 Connect de TruGolf, reconnu pour son réalisme, sa beauté et
                    sa liste de parcours de golf de classe mondiale. Il permet aussi d'enregistrer toutes vos données de
                    pratiques et de parties. De plus, il est doté de quelques mini-jeux parfait pour pratiquer ou pour
                    s'amuser lors de partys.
                </p>
            </div>
            <div class="column">
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe
                        src="https://player.vimeo.com/video/251179045?title=0&byline=0&portrait=0"
                        style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                        allow="autoplay; fullscreen" allowfullscreen></iframe></div>
                <script defer src="https://player.vimeo.com/api/player.js"></script>
            </div>
        </div>

        <div class="flex-columns spaced is-multiline">
            <div class="column is-full">
                <h class="title">Mini-jeux</h3>
            </div>
            <div class="column">
                <div style="padding:56.25% 0 0 0;position:relative;">
                    <iframe src="https://player.vimeo.com/video/303598896?title=0&byline=0&portrait=0"
                        style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                        allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
            </div>
            <div class="column">
                <div style="padding:56.25% 0 0 0;position:relative;">
                    <iframe src="https://player.vimeo.com/video/271932662?title=0&byline=0&portrait=0"
                        style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                        allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
            </div>
            <div class="column">
                <div style="padding:56.25% 0 0 0;position:relative;">
                    <iframe src="https://player.vimeo.com/video/271932679?title=0&byline=0&portrait=0"
                        style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                        allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<span class="border"></span>