<a class="anchor" id="tarifs"></a>
<section id="tarifs" class="section hero is-fullheight-with-navbar">
    <h2 class="title is-1">Tarifs</h2>
    <div class="content expanded">
        <div class="flex-columns">
            <div class="column spaced">
                <table class="is-size-5-desktop">
                    <thead>
                        <tr><th>Tarif taxes incluses</th><th>18 trous</th><th>9 trous</th><th>Pratique 1 heure </th></tr>
                    </thead>
                    <tbody>
                        <tr><th>Semaine</th>            <td>25$</td><td>17$</td><td>22$</td></tr>
                        <tr><th>Weekend avant 9h</th>   <td>25$</td><td>17$</td><td>22$</td></tr>
                        <tr><th>Weekend de 9h à 17h</th><td>28$</td><td>18$</td><td>22$</td></tr>
                        <tr><th>Weekend après 17h</th>  <td>18$</td><td>17$</td><td>18$</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="column spaced">
                    <div class="is-size-4">
                        <p>Lors des réservations, 1h par personne est calculé pour un 18 trou.</p>
                        <p>Appelez au <a href="tel:+18193735121">(819) 373-5121</a> poste 6518 pour une réservation.</p>
                        <p class="centered has-text-centered"><a target="_blank" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSIBf3Uq_3LKQVT0smc3JqVW9w1BNr0ghT9_Jjs_Vw86E8U3V9dHzVch4UpHB-KvSO8cQ-v_wS1kgKG/pubhtml?gid=1719629945&single=true">Grille complète des tarifs avec carte VIP</a></p>
                    </div>
            </div>
        </div>
    </div>
</section>