<a id="carte-vip" class="anchor"></a>
<section id="carte-vip" class="hero is-fullheight-with-navbar section">
    <div class="hero-body container is-size-5">
        <div class="columns">
            <div class="column">
                <div class="content expanded">
                    <h1 class="title is-1 has-text-centered">V.I.P 60</h1>
                    <p>
                        Disponible au coût de 60.00$+tx, la carte vous donne droit aux avantages suivants&nbsp;:
                        <ul>
                            <li>30.00$ de rabais sur la frappe libre (1 tapis/sem. réservé)</li>
                            <li>30.00$ de rabais sur la frappe supervisée</li>
                            <li>15.00$ de rabais sur les cours de groupe</li>
                            <li>5.00$ de rabais sur le tarif horaire driving</li>
                            <li>10.00$ de rabais sur l'entreposage</li>
                            <li>Golf virtuel à 20.00$ la partie en tout temps</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="content expanded">
                    <h1 class="title is-1 has-text-centered">V.I.P 250</h1>
                    <p>
                        Disponible au coût de 250.00$+tx, la carte vous donne droit aux avantages suivants&nbsp;:
                        <ul>
                            <li>60.00$ de rabais sur la frappe libre (1 tapis/sem. réservé)</li>
                            <li>60.00$ de rabais sur la frappe supervisée</li>
                            <li>30.00$ de rabais sur les cours de groupe</li>
                            <li>10.00$ de rabais sur le tarif horaire driving</li>
                            <li>20.00$ de rabais sur l'entreposage</li>
                            <li>Golf virtuel à 10.00$ la partie en tout temps</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>