<section data-nosnippet id="index" class="section">
    <div class="container">
        <div class="video">
            <iframe width="720px" height="480px" src="https://www.youtube.com/embed/BMp3o2LHMXw?controls=0&autoplay=1&mute=1&loop=1&modestbranding=1"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;"
                ></iframe>
        </div>
    </div>

    <div class="columns is-centered">
        <div class="column is-2"></div>
        <div class="column">
            <figure class="image">
                <a href="/agmm">
                    <img alt="balle de golf: agmm" src="/images/btn-agmm.png">
                </a>
            </figure>
        </div>
        <div class="column is-1"></div>
        <div class="column">
            <figure class="image">
                <a href="/golf-virtuel">
                    <img alt="balle de golf: golf virtuel" src="/images/btn-golf-virtuel.png">
                </a>
            </figure>
        </div>
        <div class="column is-2"></div>
    </div>
</section>