<a id="Contact" class="anchor"></a>
<footer class="section footer">
    <div class="container">
        <img class="image is-128x128 centered" src="/images/logo-agmm-balle.png">
        <br>
        <div class="columns">
            <div class="column"></div>
            <div class="column">
                <p class="is-size-5"><b>CSAD</b></p>
                <p class="is-size-5">(Hiver)</p>
                <p><a href="tel:+18193735121">(819) 373-5121</a> poste 6518</p>
                <p><a href="mailto:golfagmm@gmail.com"><u>golfagmm@gmail.com</u></a></p>
                <a target="_blank" href="https://goo.gl/maps/iYdcBFzi6E8MCMdr8">260 Rue Dessureault, Trois-Rivières, QC G8T 9T9</a>
            </div>
            <div class="column">
                <p class="is-size-5"><b>Golf Du Moulin</b></p>
                <p class="is-size-5">(Été)</p>
                <p><a href="tel:+18193780988">(819) 378-0988</a></p>
                <p><a href="mailto:michelmartingolf@gmail.com"><u>michelmartingolf@gmail.com</u></a></p>
                <a target="_blank" href="https://goo.gl/maps/59Ur7tdom9z3Pmjc9">841 Chemin des Pins, Trois-Rivières, QC G8W 2K1</a></p>
            </div>
            <div class="column"></div>
        </div>
    </div>
</footer>