<a id="Frappe" class="anchor"></a>
<section id="Frappe" class="hero is-fullheight-with-navbar section">
    <div class="hero-body container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-1 has-text-centered">Frappe Libre</h1>
                <div class="content expanded">
                    <p>
                        1 heure de frappe libre par semaine: 139$<br>
                        Frappe libre illimitée: 175$ ( juniors 60$ )<br>
                        Tarifs Horaire: 15$/heure<br>
                        Distance de 100 pieds<br>
                        Économisez avec une <a href="">carte VIP</a>.
                    </p>
                    <p class="has-text-centered">
                        <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSFPH6yLwYqmLpx9ua1yu4XYJyLGTVb3ka00ykDo1gyj10TodSANPT_WFo3uJkNcnCHwYDcAUd4uG2b/pubhtml?gid=1199770214&single=true" target="_blank">Horaire frappe libre</a>
                    </p>
                </div>
            </div>
            <div class="column">
                <h1 class="title is-1 has-text-centered">Frappe Supervisée</h1>
                <div class="content expanded">
                    <p>
                        1 heure de frappe supervisée par semaine pendant 12 semaines:<br>
                         299.00$ + taxes.<br>
                        Distance de 100 pieds<br>
                        Économisez avec une <a href="">carte VIP</a>.
                    </p>
                    <br class="is-hidden-mobile">
                    <p class="has-text-centered">
                        <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSFPH6yLwYqmLpx9ua1yu4XYJyLGTVb3ka00ykDo1gyj10TodSANPT_WFo3uJkNcnCHwYDcAUd4uG2b/pubhtml?gid=1006885490&single=true" target="_blank">Horaire frappe supervisée</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>